@font-face {
  font-family: 'JetBrainsMono';
  font-display: swap;
  src: url(https://sources.minerno.com/font/JetBrainsMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'GS-SC';
  font-display: swap;
  src: url(https://sources.minerno.com/font/GlowSansSC-Normal-Regular.otf) format("truetype");
}

@font-face {
  font-family: 'GS-TC';
  font-display: swap;
  src: url(https://sources.minerno.com/font/GlowSansTC-Normal-Regular.otf) format("truetype");
}

@font-face {
  font-family: 'GS-J';
  font-display: swap;
  src: url(https://sources.minerno.com/font/GlowSansJ-Normal-Regular.otf) format("truetype");
}