/* 自定义变量的样式 */
.custom-variable {
    font-size: 1.2em; /* 字体大小稍大于正常文本 */

    font-weight: bold; /* 字体加粗 */
}

.normal-color {
    color: var(--efu-fontcolor);
}

/* 其他可能的样式 */
#welcome-info {
    /*text-align: left;*/
    margin-top: 20px;
}